<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConsultarCuenta</servlet-name>
        <servlet-class>servicios.ServletConsultarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositoEfectivo</servlet-name>
        <servlet-class>servicios.ServletDepositoEfectivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaEstadoCuenta</servlet-name>
        <servlet-class>servicios.ServletConsultaEstadoCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfiliarCuenta</servlet-name>
        <servlet-class>servicios.ServletAfiliarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>servicios.ServletInicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTransferenciaCaja</servlet-name>
        <servlet-class>servicios.ServletTransferenciaCaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>datosMovimientoCuenta</servlet-name>
        <servlet-class>servicios.datosMovimientoCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerificacionCuenta</servlet-name>
        <servlet-class>servicios.ServletVerificacionCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTransferenciaClienteCuentaFavo</servlet-name>
        <servlet-class>servicios.ServletTransferenciaClienteCuentaFavo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMovimientosCuentas</servlet-name>
        <servlet-class>servicios.ServletMovimientosCuentas</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>ServletVerificacionCuentas</servlet-name>
        <servlet-class>servicios.ServletVerificacionCuentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMostrarTransferencia</servlet-name>
        <servlet-class>servicios.ServletMostrarTransferencia</servlet-class>

        <servlet-name>ServletAcreditarInteres</servlet-name>
        <servlet-class>servicios.ServletAcreditarInteres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBusquedaRetiros1</servlet-name>
        <servlet-class>servicios.ServletBusquedaCuentaRetiro</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarCuenta</servlet-name>
        <url-pattern>/ConsultarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositoEfectivo</servlet-name>
        <url-pattern>/DepositoEfectivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaEstadoCuenta</servlet-name>
        <url-pattern>/ConsultaEstadoCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfiliarCuenta</servlet-name>
        <url-pattern>/AfiliarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTransferenciaCaja</servlet-name>
        <url-pattern>/ServletTransferenciaCaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datosMovimientoCuenta</servlet-name>
        <url-pattern>/datosMovimientoCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerificacionCuenta</servlet-name>
        <url-pattern>/ServletVerificacionCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTransferenciaClienteCuentaFavo</servlet-name>
        <url-pattern>/ServletTransferenciaClienteCuentaFavo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMovimientosCuentas</servlet-name>
        <url-pattern>/ServletMovimientosCuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>ServletVerificacionCuentas</servlet-name>
        <url-pattern>/ServletVerificacionCuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMostrarTransferencia</servlet-name>
        <url-pattern>/ServletMostrarTransferencia</url-pattern>

        <servlet-name>ServletAcreditarInteres</servlet-name>
        <url-pattern>/ServletAcreditarInteres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBusquedaRetiros1</servlet-name>
        <url-pattern>/ServletBusquedaRetiros1</url-pattern>

    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
