/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/04/2020, 04:55:29 PM
    Author     : gabri
*/

body
{
    background-color: #00cc99;
}

#encabezado
{
    position: relative;
    overflow: hidden;
    
}